<div class="dist-modal-overlay" id="distModalOverlay">
  <div class="dist-modal">
    <div class="dist-modal-head">
      <div class="dist-modal-head-left">
        <div class="dist-modal-title">Score <span>Distribution</span> <span class="dist-modal-row" id="distModalRowLabel"></span></div>
        <div class="dist-modal-meta" id="distModalMeta"></div>
      </div>
      <button class="dist-modal-close" id="distModalClose" type="button" title="Close (Esc)">✕</button>
    </div>
    <div class="dist-tabs" id="distTabs"></div>
    <div class="dist-modal-body" id="distModalBody"></div>
  </div>
</div>
<div class="dist-tooltip" id="distTooltip"></div>
